*
  box-sizing: border-box
@keyframes button-animation-1
  0%
    background-color: $primary
  100%
    background-color: $dark
@keyframes button-animation-2
  0%
    background-color: #fff
  100%
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%)
body
  font-family: 'Mulish', sans-serif
  color: $text-color
  background-color: $secondary
  overflow-x: hidden
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
.input
  background-color: #fff
  border-radius: 4px
  border: none
  padding: 0 23px
  height: 50px
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: #333333
  &::placeholder
    color: $footer-text-color
.message
  height: 123px
  background-color: #fff
  border-radius: 4px
  padding: 18px 23px
  border: none
  resize: none
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: #333333
  &::placeholder
    color: $footer-text-color
.button
  min-width: 160px
  min-height: 50px
  padding: 18px
  font-size: 12px
  line-height: 15px
  color: $light
  background-color: $primary
  border: none
  border-radius: 4px
  cursor: pointer
  &:hover
    animation: button-animation-2 0.3s linear 1 normal running 0s forwards
.invalid[for='emailNews']
  color: $primary
  border-bottom: 1px solid $primary
  position: absolute
  top: 60px
  left: 0px
.invalid
  color: $primary
  border-bottom: 1px solid $primary
  